/**  MAINHOME*/
.hero-section {
  background: #ffffff;
  padding-top: 80px;
  padding-bottom: 60px;
}

/* LEFT */
.hero-left {
  max-width: 520px;
}

.badge {
  display: inline-flex;
  background: rgba(66, 133, 244, 0.1);
  color: #4285f4;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero-title {
  font-size: 52px !important;
  font-weight: 600 !important;
  line-height: 1.2 !important;
  color: #0f172a;
}

.hero-title span {
  color: #4285f4;
}

.hero-desc {
  margin-top: 20px !important;
  font-size: 16px !important;
  color: #64748b;
  line-height: 1.6 !important;
}

/* HAPPY USERS */
.happy-users {
  margin-top: 30px;
}

.happy-users img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.happy-text {
  margin-left: 12px;
  font-size: 14px;
  color: rgba(107, 114, 128, 1);
  white-space: nowrap;
}

/* RIGHT */
.hero-right {
  width: 520px;
}

.hero-car {
  width: 100%;
  object-fit: contain;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hero-car:hover {
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* SEARCH */
.search-box {
  margin-top: 60px;
  background: #ffffff;
  padding: 20px 24px;
  border-radius: 16px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
}

.search-input {
  background: #f8fafc;
  border-radius: 12px;
}

.search-input .MuiOutlinedInput-root {
  border-radius: 12px;
}

.search-btn {
  background: #4285f4 !important;
  color: #fff !important;
  padding: 14px 30px !important;
  border-radius: 12px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  text-transform: none !important;
}

/** BRAND ROW*/
.brand-row {
  padding: 35px 0;
  background: rgba(249, 250, 251, 0.5);
}

.brand-item {
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.brand-item:hover {
  opacity: 1;
}

.brand-item img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.brand-item p {
  font-size: 24px;
  font-weight: 500;
  color: #6b7280;
  letter-spacing: 1px;
}

/** POPULAR VEHICLES*/
.top-rated-section {
  padding: 80px 0;
  background: #ffffff;
}

.popular-text {
  color: #3b82f6;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
}

.section-title {
  font-weight: 600;
  margin-top: 8px;
}

.vehicle-card {
  width: 100%;
  border-radius: 16px !important;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.06) !important;
}

.image-wrapper {
  position: relative;
}

.vehicle-image {
  height: 160px;
  object-fit: cover;
  -webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.vehicle-image:hover {
  -webkit-transform: scale(1);
	transform: scale(1);
}

.favorite {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #ffffff;
  border-radius: 50%;
  padding: 6px 8px;
  font-size: 14px;
  cursor: pointer;
}

.favorite:hover {
  color: #e61111;
}

.vehicle-name {
  font-size: 16px;
  font-weight: 700;
}

.vehicle-subtitle {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 10px;
}

.specs span {
  font-size: 12px;
  color: #3b82f6;
}

.price {
  font-size: 18px;
  font-weight: 600;
}

.price span {
  font-size: 12px;
  color: #6b7280;
}

.rent-btn {
  background: rgba(107, 114, 128, 1) !important;
  color: #ffffff !important;
  border-radius: 8px !important;
  padding: 6px 14px !important;
  font-size: 13px !important;
}

/** ABOUT US*/
.why-section {
  background: #ffffff;
}

.why-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 80px;
}

.why-image {
  position: relative;
}

.why-image img {
  width: 624px;
  height: auto;
  border-radius: 24px;
  object-fit: cover;
}

.support-card {
  position: absolute;
  bottom: 24px;
  left: 24px;
  background: #fff;
  border-radius: 16px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
}

.support-card img {
  width: 40px;
}

.support-title {
  font-weight: 600;
}

.support-text {
  font-size: 14px;
  color: #6b7280;
}

/* CONTENT */
.why-content {
  max-width: 520px;
}

.why-label {
  font-size: 23px;
  letter-spacing: 2px;
  color: #3b82f6;
  margin-bottom: 12px;
}

.why-title {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 16px;
}

.why-desc {
  font-size: 16px;
  color: #6b7280;
  margin-bottom: 32px;
}

/* FEATURES */
.feature-item {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.feature-item img {
  width: 36px;
}

.feature-title {
  font-weight: 600;
}

.feature-text {
  font-size: 14px;
  color: #6b7280;
}

/* EXTRA TEXT */
.extra-text {
  margin-top: 20px;
  font-size: 15px;
  color: #4b5563;
  line-height: 1.6;
}

/* BUTTON */
.learn-btn {
  margin-top: 28px;
  background: #8ca2c5;
  color: #6b7280;
  padding: 12px 28px;
  border-radius: 12px;
  font-size: 15px;
}

.learn-btn:hover {
  color: #e6aa11;
}
