.navbar {
    width: 100%;
    height: 88px;
    border-bottom: 1px solid #eee;
    background: black;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.auth-area {
  min-width: 240px;
  justify-content: flex-end;
}

.logo-icon {
  width: 50px;
  height: 50px;
  background: #3b82f6;
  color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.logo-text {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}

/* NAV LINKS */
.nav-link {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  font-weight: 500;
  font-family: Plus Jakarta Sans;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #e6aa11;
}

.nav-link.active {
  color: #e6aa11;
}

.sign-in.MuiButton-root {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
  text-transform: none;
}

.sign-in.MuiButton-root:hover {
  color: #e6aa11;
  background: transparent;
}

.sign-up.MuiButton-root {
  background: rgb(129, 162, 227);
  color: #ffffff;
  padding: 8px 18px;
  border-radius: 8px;
  font-size: 25px;
  font-weight: 400;
  text-transform: none; 
}

.sign-up.MuiButton-root:hover {
  background: #e6aa11;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}